.product {
    @include mobile {
        width: 360px;
    }
}

.product__catalog {
    text-align: center;
    margin-top: 96px;

    @include tablet {
        margin-top: 154px;
    }

    @include mobile {
        margin-top: 64px;
    }
}

.product__title {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.product__text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    padding-top: 6px;
}

.product__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 18px;

}

.product__item {
    width: 360px;
    min-height: 581px;
    background: #F8F8F8;
    margin-top: 30px;
    position: relative;

    @include tablet {
        width: 360px;
        min-height: 581px;
    }

    @include mobile {
        width: 360px;
        min-height: 581px;
        margin-top: 16px;
    }
}

.product__img {
    @include mobile {
        width: 100%;
    }
}

.product__heading {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-top: 25px;
    padding-left: 18px;
    text-transform: uppercase;
}

.product__info {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding: 12px 28px 18px 18px;
}

.product__sale {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-left: 18px;
}

.product__sale:hover {
    color: mediumblue;
}

.product__box {
    text-align: center;
    margin-top: 48px;

    @include tablet {
        margin-top: 32px;
    }

    @include mobile {
        margin-top: 41px;
    }
}

.product__blook {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #FF6A6A;
    padding: 14px 38px;
    background: #ffff;
}

.product__blook:active {
    background-color: blue;
    color: yellow;
    border: 1px solid blue;
}

.overlay {
    width: 100%;
    min-height: 420px;
    background: rgba(58, 56, 56, 0.86);
    position: absolute;
    top: 0;
    display: none;
}

.product__button {
    position: absolute;
    display: none;
    top: 32%;
    left: 31%;
    border: 1px solid #FFFFFF;
    background: none;
}

.product__button:active {
    background-color: #F16D7F;
    border: none;
}

.product__buttot-text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 13px 13px 13px 0;
}

.product__img-card {
    fill: #FFFFFF;
    padding: 10px;
}

.product__item:hover .overlay {
    display: block;
    opacity: 0.6;
}

.product__item:hover .product__button {
    display: block;
    display: flex;
}